
@import url(http://fonts.googleapis.com/css?family=Lora:400,700italic);


/*reset*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{
	text-decoration: none;
}

/*end reset*/

html{
	background: #000;
}

body{
	background-color:#000;
/*  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;*/
font-family: 'Lora', serif;
font-style: italic;
color: #fff;
}

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

.animate{
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}

.animate-slow{
	-webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.animate-fast{
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.animate-so-slow{
	  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
}

.wrapper{
	width: 800px;
	height: 800px;
	display: block;
	position: relative;
	margin: 0 auto;
	opacity: 0.3;
}
.pixel{
    background-color: #000;
    width: 1%;
    height: 1%;
    float: left;
    border-radius: 50%;
    box-sizing:border-box;
    padding:.04%;
    opacity:0.2;
    }

.white{

background: rgb(252,251,244); /* Old browsers */
background: -moz-linear-gradient(-45deg, rgba(252,251,244,1) 32%, rgba(239,222,110,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(32%,rgba(252,251,244,1)), color-stop(100%,rgba(239,222,110,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg, rgba(252,251,244,1) 32%,rgba(239,222,110,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg, rgba(252,251,244,1) 32%,rgba(239,222,110,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg, rgba(252,251,244,1) 32%,rgba(239,222,110,1) 100%); /* IE10+ */
background: linear-gradient(135deg, rgba(252,251,244,1) 32%,rgba(239,222,110,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfbf4', endColorstr='#efde6e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

/*	background-color:#fff;*/
	box-shadow: 0px 0px 10px rgba(256,256,256,1);
	z-index: 1000;
	position: relative;
}

.letters{
	opacity: 0.2;
}

.letters.animate{
	-webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;

}

.red{
background: rgb(244,73,73); /* Old browsers */
background: -moz-linear-gradient(-45deg, rgba(244,73,73,1) 0%, rgba(255,0,0,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(244,73,73,1)), color-stop(100%,rgba(255,0,0,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg, rgba(244,73,73,1) 0%,rgba(255,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg, rgba(244,73,73,1) 0%,rgba(255,0,0,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg, rgba(244,73,73,1) 0%,rgba(255,0,0,1) 100%); /* IE10+ */
background: linear-gradient(135deg, rgba(244,73,73,1) 0%,rgba(255,0,0,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f44949', endColorstr='#ff0000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

/*	background-color:#ff0000;*/
	box-shadow: 0px 0px 20px #ff0000;
	z-index: 9;
	position: relative;
}

.green{
background: rgb(180,221,180); /* Old browsers */
background: -moz-linear-gradient(-45deg, rgba(180,221,180,1) 0%, rgba(131,199,131,1) 17%, rgba(82,177,82,1) 33%, rgba(0,138,0,1) 67%, rgba(0,87,0,1) 83%, rgba(0,36,0,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(180,221,180,1)), color-stop(17%,rgba(131,199,131,1)), color-stop(33%,rgba(82,177,82,1)), color-stop(67%,rgba(0,138,0,1)), color-stop(83%,rgba(0,87,0,1)), color-stop(100%,rgba(0,36,0,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg, rgba(180,221,180,1) 0%,rgba(131,199,131,1) 17%,rgba(82,177,82,1) 33%,rgba(0,138,0,1) 67%,rgba(0,87,0,1) 83%,rgba(0,36,0,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg, rgba(180,221,180,1) 0%,rgba(131,199,131,1) 17%,rgba(82,177,82,1) 33%,rgba(0,138,0,1) 67%,rgba(0,87,0,1) 83%,rgba(0,36,0,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg, rgba(180,221,180,1) 0%,rgba(131,199,131,1) 17%,rgba(82,177,82,1) 33%,rgba(0,138,0,1) 67%,rgba(0,87,0,1) 83%,rgba(0,36,0,1) 100%); /* IE10+ */
background: linear-gradient(135deg, rgba(180,221,180,1) 0%,rgba(131,199,131,1) 17%,rgba(82,177,82,1) 33%,rgba(0,138,0,1) 67%,rgba(0,87,0,1) 83%,rgba(0,36,0,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4ddb4', endColorstr='#002400',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
/*	background-color:#2c4c00;*/
	box-shadow: 0px 0px 10px #2c4c00;
	z-index: 8;
	position: relative;
}

.blue{
background: rgb(107,215,234); /* Old browsers */
background: -moz-linear-gradient(-45deg, rgba(107,215,234,1) 0%, rgba(44,175,227,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(107,215,234,1)), color-stop(100%,rgba(44,175,227,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg, rgba(107,215,234,1) 0%,rgba(44,175,227,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg, rgba(107,215,234,1) 0%,rgba(44,175,227,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg, rgba(107,215,234,1) 0%,rgba(44,175,227,1) 100%); /* IE10+ */
background: linear-gradient(135deg, rgba(107,215,234,1) 0%,rgba(44,175,227,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6bd7ea', endColorstr='#2cafe3',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

/*	background-color:#43a8fc;*/
	box-shadow: 0px 0px 10px #43a8fc;
	z-index: 10;
	position: relative;
}

.twinkling{
  opacity:0.4;
}

.clicked{
	opacity:1;
}


.salutation{
	width: 50%;
	margin: 1em auto;
	opacity: 0;

}

p{
	font-size:1em;
	line-height: 1.5em;
	font-style: italic;
	margin-bottom:0.5em;
	text-align: center;
	color:rgba(256,256,256,0.5);
}

a{
	font-family: helvetica, sans-serif;
	font-style: normal;
	font-size:0.8em;
}

.red-text{
	color: #ff0000;
	text-shadow: 0px 0px 20px #ff0000;
}

.green-text{
	color:#2c4c00;
	text-shadow: 0px 0px 10px #2c4c00;
}

.white-text{
	color:#fff;
	text-shadow: 0px 0px 10px #fff;
	color:rgba(256,256,256,1);
	cursor: pointer;
}

.blue-text{
	color:#43a8fc;
	text-shadow: 0px 0px 10px #43a8fc;
}


.ifmobile{
	margin-bottom: 1em;
}





